<footer class="footer mt-auto py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <span>Bản quyền &copy; bởi <a href="https://nentang.vn">Nền Tảng</a> - 2019.</span>
                <span class="text-muted">Hành trang tới Tương lai</span>
           <div>
        <div>
    </div>
</footer>